 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
It is difficult to transmit banking account information,
proof of age, education qualifications, healthcare data, and other sorts
of verified personal information via the Web. These sorts of data are
often referred to as <strong><em>verifiable claims</em></strong>.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
The mission of the Verifiable Claims group at W3C is to make expressing,
exchanging, and verifying claims easier, privacy-enhancing, and more secure 
on the Web. Come and help us make the Web a better place.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.w3.org/community/credentials/"
                      class="btn btn-lg btn-outline">
                        <i class="fa fa-group"></i> Join the Group
                    </a>
                </div>
            </div>
        </div>
    </section>