    <!-- sccdn scripts -->
    <script src="//cdn.jsdelivr.net/g/async@1.5.0,jquery@1.11.0,es6-promise@1.0.0,bootstrap@2.3.2,codemirror@3.22.0(codemirror.min.js+addon/lint/lint.js+addon/edit/matchbrackets.js+addon/edit/closebrackets.js+addon/display/placeholder.js+addon/hint/show-hint.js+mode/ntriples/ntriples.js+mode/javascript/javascript.js)"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jsonld/0.4.2/jsonld.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "./js/jquery.easing.min.js" }}"></script>
    <script src="{{ "./js/classie.js" }}"></script>
    <script src="{{ "./js/cbpAnimatedHeader.js" }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "./js/freelancer.js" }}"></script>

    <script src="{{ "./js/forge.min.js" }}"></script>
    <script src="{{ "./js/bitcore-message.js" }}"></script>
    <script src="{{ "./js/jsonld-signatures.js" }}"></script>
    <script src="{{ "./js/jsonlint.js" }}"></script>
    <script src="{{ "./js/tv4.min.js" }}"></script>
    <script src="{{ "./js/json-schema-lint.js" }}"></script>
    <script src="{{ "./js/jsonld-hint.js" }}"></script>
    <script src="{{ "./js/playground.js" }}"></script>
    <script src="{{ "./js/playground-examples.js" }}"></script>
    <script src="{{ "./js/jsonld-vis.js" }}"></script>
