<!-- Scripts -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->

<!-- sccdn scripts -->
<!-- script src="//cdn.jsdelivr.net/g/async@1.5.0,jquery@1.11.0,es6-promise@1.0.0,bootstrap@2.3.2,codemirror@3.22.0(codemirror.min.js+addon/lint/lint.js+addon/edit/matchbrackets.js+addon/edit/closebrackets.js+addon/display/placeholder.js+addon/hint/show-hint.js+mode/ntriples/ntriples.js+mode/javascript/javascript.js)"></script -->
<script src="//cdn.jsdelivr.net/g/async@1.5.0,es6-promise@1.0.0,bootstrap@2.3.2,codemirror@3.22.0(codemirror.min.js+addon/lint/lint.js+addon/edit/matchbrackets.js+addon/edit/closebrackets.js+addon/display/placeholder.js+addon/hint/show-hint.js+mode/ntriples/ntriples.js+mode/javascript/javascript.js)"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jsonld/0.4.2/jsonld.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js"></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/forge.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bitcore-message.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jsonld-signatures.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jsonlint.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/tv4.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/json-schema-lint.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jsonld-hint.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/playground.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/playground-examples.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jsonld-vis.js" | prepend: site.baseurl }}"></script>
